*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    background-color: black;
     color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center ;
     padding: 1.5vw;
}
.navigation ul{
    display: flex;
    gap:2em;
    margin: 1vw;
    list-style: none;
}
.navigation a{
    text-decoration: none;
    color:#fff;
    font-size: 1.5rem;
}

.navigation a:hover{
    color: rgb(167, 167, 255);;
}
.common{
    padding: 3vw;
    margin:  3vw;
    border-radius: 10px;
    font-size: clamp(19px, 10vw ,20px);
}
.first_container{
     width: clamp(.5rem, 5vh 2rem );
     display: flex;
}
.para_1 img{
   width: max(100%, 250px);
}
.para_1 h1{
  padding: 4vw;
}
.para_1{
   width: max(100%, 300px);
   padding: 3vw ;
   font-size: clamp(19px, 10vw ,20px);
}

.para_2{
    background-color: #000;
    color: #fff;
}
.black_br{
    border: 2px solid black;
}
.black_br >*{
     padding: min(10px , 3%);
}
.black_br ul li{
    padding: .5vw;
}

.second_container{
    display: flex;
}
.second_container .sub_para_1{
    height: fit-content;
}
.second_container .img{
   position: absolute;
   top: 2200px;
   left: -55px; 
}
.img img{
    width: 40vw;
    height: 50vh;
    border-radius: 10px;
    margin: 10vw 0;
}
.table_1 {
  padding:  50px  30%; 
}
.table_1 td{
    padding: 1vw;
}       

.table_1 tr:nth-child(odd){
 background: rgb(201, 198, 198);
}

.third_container{
    display: flex;
}
.third_container .img{
    width: max(40%, 1600px);
}
.third_container .common >*{
    padding: min(10px , 3%);
}
.partner_heading{
    width: 90%;
   font-size: 2vw;
   display: flex;
   justify-content: center ;
   border-bottom: 3px solid black;
   padding: 2vw;
   margin: auto;
}
.para_6{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.para_6 img{
    width: 20vw;
}
.footer_container{
    background-color: black;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    justify-content: space-between;
    padding: 5vw;
}
.col_2{
    padding: 1vw;
}
.col_2 h2{
    margin-bottom: 1vw;
}
.col_2 a{
    color: #fff;
    display: block;
    padding: .5vw;
    text-decoration: none;
}
.col_2 a:hover{
    color: rgb(167, 167, 255);
}
.col_2 li{
    list-style: none;
}


@media only screen and (max-width: 768px){

    .navigation{
        flex-direction: column;
    }
    .navigation ul{
        flex-direction: column;
        margin: 10px;
    }
    .navigation a{
        border-bottom: 3px solid white;
    }
    .first_container{
        flex-direction: column;
        width: 100%;
    }
    .second_container{
        flex-direction: column;
        width: 100%;
    }
    .third_container{
        flex-direction: column;
        width: 100%;
    }
    .para_1{
        width: 100%;
    }
    .table_1{
        padding: 0;
    }
    .second_container .img{
        display: none;
    }
    .para_6{
        grid-template-columns: repeat(1 , 100px);
        justify-content: center;
    }
    .footer_container{
        grid-template-columns: repeat(1, 100%);
    }
    .col_2{
        padding: 3vw;
    }

}